:root {
    --color-blue: #004bad;
    --color-red: #c50634;
    --color-yellow: #d2a807;
    --color-green: #02c064;
    --color-grey : #999;
}
.r-bg-blue {
    background-color: var(--color-blue);
}
.r-bg-red {
    background-color: var(--color-red);
}
.r-bg-yellow {
    background-color: var(--color-yellow);
}
.r-bg-green {
    background-color: var(--color-green);
}
.r-text-blue {
    color: var(--color-blue);
}
.r-text-red {
    color: var(--color-red);
}
.r-text-yellow {
    color: var(--color-yellow);
}
.r-text-green {
    color: var(--color-green);
}
.r-text-grey {
    color: var(--color-grey);
}
.transition{ transition: 0.2s ease;}
.green:hover{color: var(--color-green);}
.underline:hover {
    border-bottom: 2px solid var(--color-grey);
    padding-bottom: 5px;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.w-fit {
    width: fit-content;
}
input:focus-visible {
    outline: unset;
    box-shadow: unset;
}
.rounded-10px {
    border-radius: 10px;
}
.rounded-20px {
    border-radius: 20px;
}
.rounded-40px {
    border-radius: 40px;
}
.navbar-brand .logo {
    width: 120px;
}

form.searchGroup {
    width: 30vw;
    border-radius: 40px;
    border: 1px solid var(--color-blue);
    padding: 0 10px;
}
form.searchGroup input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: none;
}
form.searchGroup button {
    background-color: transparent;
    border: none;
}

.mobile-nav {
    width: 100vw;
    height: 100vh;
    background: #ffffffab;
    position: fixed;
    top: 0;
    left: 100vw;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.mobile-nav li {
    padding: 5px;
    font-size: 7vw;
    font-weight: bold;
    border-bottom: 1px solid;
}
.hero-section {
    width: 100%;
    position: relative;
    height: 75vh;
    background: linear-gradient(
        45deg,
        var(--color-red),
        var(--color-blue),
        var(--color-green)
    );
}
.hero-section .top,.hero-section .bottom{
    width: 100%;
    height: 50%;
    background: white;
    position: absolute;
}
.hero-section .top{top: 0;}
.hero-section .bottom{bottom: 0;}

.hero-section h2 span{
    display: inline-block;
}
.hero-section .top h2, .hero-section .bottom h2{
        font-size: 13vw;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}
.hero-section .top h2{top: 50%;}
.hero-section .bottom h2{top: -50%;}

.cate_card img {
    right: -52px;
    width: 15vw;
    top: 8vh;
}
hr.start-border {
    position: relative;
    opacity: 1;
    overflow: visible;
}
hr.start-border::before {
    width: 15vw;
    content: "";
    height: 4px;
    background: var(--color-blue);
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.parallax {
    background-attachment: fixed, fixed; /* Apply fixed attachment to both backgrounds */
    background-position: center, center; /* Center both backgrounds */
    background-repeat: no-repeat, no-repeat; /* No repeat for both backgrounds */
    background-size: cover, cover; /* Cover both backgrounds */
    min-height: 500px;
    background-image: linear-gradient(
            45deg,
            rgba(229, 241, 0, 0.8),
            rgba(0, 128, 0, 0.8)
        ),
        var(--bg-image); /* Combine gradient and image */
    background-blend-mode: multiply; /* Blend the gradient and image */
}

.place-content-center {
    place-content: center;
}
.fs-13{font-size: 13px;}
.fs-40{font-size: 40px}
.fs-32{font-size: 32px}
.fs-24{font-size: 24px;}
.fs-17{font-size: 17px;}
.letter-spacing-2{
    letter-spacing: 2px;
}
.underline{
    border-bottom: 2px solid var(--color-grey);
    padding-bottom: 5px;
}
.underline:hover{
    border-bottom: 2px solid var(--color-green) ;
    transition: 3s ease;
}
.divider {
    width: 70px;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--color-green);
}
.btn-shop{
    background-color: var(--color-green);
    border-radius: 15px;
    border : 1px solid var(--color-green);
    color: #fff;
    width: 150px;
}
.btn-shop:hover{
    background-color: transparent;
    border-radius: 15px;
    border : 1px solid var(--color-green);
    color: var(--color-green);
    max-width: 150px;
    transition: 0.5s ease;
}
.rounded{
    border-radius: 15px !important;
}
#form .form-control{
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    padding: 10px 15px;
    background-color: #f7f7f7;
    transition: 0.3s ease;
    max-width: 670px;
}
#form .form-control:focus{
    border: 2px solid var(--color-green);
    box-shadow: unset !important;
    transition: 0.3s ease;
}
