:root {
    --color-blue: #004bad;
    --color-red: #c50634;
    --color-yellow: #d2a807;
    --color-green: #02c064;
    --color-grey: #999;
    --gradient: linear-gradient(
        45deg,
        var(--color-red),
        var(--color-blue),
        var(--color-green)
    );
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-red);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue);
}
.r-bg-gradient {
    background: var(--gradient);
}
.r-bg-blue {
    background-color: var(--color-blue);
}
.r-bg-red {
    background-color: var(--color-red);
}
.r-bg-yellow {
    background-color: var(--color-yellow);
}
.r-bg-green {
    background-color: var(--color-green);
}
.r-text-blue {
    color: var(--color-blue);
}
.r-text-red {
    color: var(--color-red);
}
.r-text-yellow {
    color: var(--color-yellow);
}
.r-text-green {
    color: var(--color-green);
}
.r-text-grey {
    color: var(--color-grey);
}
.transition {
    transition: 0.2s ease;
}
.green:hover {
    color: var(--color-green);
}
.object-fit-contain {
    object-fit: contain;
}
.object-fit-cover {
    object-fit: cover;
}
.underline:hover {
    border-bottom: 2px solid var(--color-grey);
    padding-bottom: 5px;
}
#suggestion-box #suggestion-header {
    display: none !important;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.w-fit {
    width: fit-content;
}
.w-20px {
    width: 20px;
}
.aspect-1 {
    aspect-ratio: 1;
}
input:focus-visible {
    outline: unset;
    box-shadow: unset;
}
.rounded-10px {
    border-radius: 10px;
}
.rounded-20px {
    border-radius: 20px;
}
.rounded-40px {
    border-radius: 40px;
}
.navbar-brand .logo {
    width: 120px;
}

.searchGroup {
    width: 30vw;
    border-radius: 40px;
    border: 1px solid var(--color-blue);
    padding: 0 10px;
}
.searchGroup input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: none;
}
.searchGroup button {
    background-color: transparent;
    border: none;
}

.mobile-nav {
    width: 100vw;
    height: 100vh;
    background: #ffffffab;
    position: fixed;
    top: 0;
    left: 100vw;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.mobile-nav li {
    padding: 5px;
    font-size: 7vw;
    font-weight: bold;
    border-bottom: 1px solid;
}
.hero-section {
    width: 100%;
    position: relative;
    height: 75vh;
    background: linear-gradient(
        45deg,
        var(--color-red),
        var(--color-blue),
        var(--color-green)
    );
}
.hero-section .top,
.hero-section .bottom {
    width: 100%;
    height: 50%;
    background: white;
    position: absolute;
}
.hero-section .top {
    top: 0;
}
.hero-section .bottom {
    bottom: 0;
}

.hero-section h2 span {
    display: inline-block;
}
.hero-section .top h2,
.hero-section .bottom h2 {
    font-size: 13vw;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hero-section .top h2 {
    top: 50%;
}
.hero-section .bottom h2 {
    top: -50%;
}

.cate_card img {
    right: -52px;
    width: 15vw;
    aspect-ratio: 1;
    object-fit: contain;
    top: 8vh;
}
hr.start-border {
    position: relative;
    opacity: 1;
    overflow: visible;
}
hr.start-border::before {
    width: 15vw;
    content: "";
    height: 4px;
    background: var(--color-blue);
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.parallax {
    background-attachment: fixed, fixed; /* Apply fixed attachment to both backgrounds */
    background-position: center, center; /* Center both backgrounds */
    background-repeat: no-repeat, no-repeat; /* No repeat for both backgrounds */
    background-size: cover, cover; /* Cover both backgrounds */
    /* min-height: 500px; */
    background-image: linear-gradient(
            45deg,
            rgba(28, 28, 28, 0.8),
            rgba(215, 215, 215, 0.8)
        ),
        var(--bg-image); /* Combine gradient and image */
    background-blend-mode: multiply; /* Blend the gradient and image */
}

.place-content-center {
    place-content: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-40 {
    font-size: 40px;
}
.fs-32 {
    font-size: 32px;
}
.fs-24 {
    font-size: 24px;
}
.fs-17 {
    font-size: 17px;
}
.letter-spacing-2 {
    letter-spacing: 2px;
}
.underline {
    border-bottom: 2px solid var(--color-grey);
    padding-bottom: 5px;
}
.underline:hover {
    border-bottom: 2px solid var(--color-green);
    transition: 3s ease;
}
.divider {
    width: 70px;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--color-green);
}
.btn-shop {
    background-color: var(--color-green);
    border-radius: 15px;
    border: 1px solid var(--color-green);
    color: #fff;
    width: 150px;
}
.btn-shop:hover {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--color-green);
    color: var(--color-green);
    max-width: 150px;
    transition: 0.5s ease;
}
.rounded {
    border-radius: 15px !important;
}
.breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 48px;
    margin-top: 48px;
    margin-bottom: -8px;
    padding: 8px 28px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
.link-grey {
    color: #999;
    text-decoration: none;
}
.breadcrumbs-arrow {
    width: 9px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.2;
}
#form .form-control,
#form .form-select {
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    padding: 10px 15px;
    background-color: #f7f7f7;
    transition: 0.3s ease;
}
.max-width-670 {
    max-width: 670px;
}
#form .form-control:focus,
#form .form-select:focus {
    border: 2px solid var(--color-green);
    box-shadow: unset !important;
    transition: 0.3s ease;
}
.cart-imgs {
    max-width: 100px;
}
.cart-desc h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
.cart-desc p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}
.cart_price {
    font-size: 18px;
    font-weight: 600;
}
.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}
#input {
    max-width: 150px;
}
.shipping {
    background-color: #f2f2f2;
}
.shipping ul li {
    background-color: #f2f2f2;
}
.total {
    margin: 15px 0px;
    background-color: #f2f2f2;
}
.total ul li {
    background-color: #f2f2f2;
}
.button {
    position: relative;
    min-width: 240px;
    /* margin: 0 2em; */
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    cursor: pointer;
}
.button span {
    position: relative;
    z-index: 2;
    display: block;
    padding: 1.25em 0.5em 1.35em 0.5em;
}
.button02 {
    background: linear-gradient(
        135deg,
        var(--color-blue),
        var(--color-green),
        var(--color-red),
        var(--color-yellow)
    );
    background-size: 300% auto;
    transition: 0.5s;
}
.button02:hover {
    background-position: 100% 0;
}
.btn:focus {
    box-shadow: unset !important;
    border: 0px !important;
}
.input_label {
    background-color: #f2f2f2;
    padding: 15px;
    width: 100%;
    /* margin-top: 15px; */
}
.product-thumbnail-image .main-img-wrap {
    aspect-ratio: 1 !important;
    border: 1px solid;
    border-radius: 20px;
}
.product-images .wrap {
    width: 25%;
    aspect-ratio: 1;
}
.nav.nav-tabs .nav-link.active {
    font-weight: bold;
}
@media (max-width: 500px) {
    .cart-imgs {
        max-width: 50px;
        max-height: 50px;
    }
}
.card.product_card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.count_checkout {
    position: absolute;
    right: 0;
    top: 0;
    margin: -15px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}
.cart_icon .badge{
    padding: 0px !important;
}
.qtybutton .fa-minus {
    background-color: var(--color-red);
    /* padding: 10px; */
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 32px;
    font-size: 12px;
}
.qtybutton .fa-plus{
    background-color: var(--color-green);
    /* padding: 10px; */
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 32px;
    font-size: 12px;
}
.social-media li{
    background-color: var(--color-red);
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff !important;
    text-align: center;
    border-radius: 50%;
}
.social-media li a{
    color: #fff !important;
}
